/* 
*
*
CSS for Collective Conscience Client 
By Abhi Nayar (https://linkedin.com/in/abhinayar) | March 2018
*
*
Designed in collaboration with the CCAM @ Yale (https://ccam.yale.edu/), Florrie Marshall (Yale School of Music)
*
*
All rights reserved, please contact author at abhishek[dot]nayar[at]yale[dot]edu for any additional
information, bug reports, etc.
*
*/

/* FONTS */
/* Import Circular */
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Black.eot');
  src: url('./fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Black.woff') format('woff'), url('./fonts/CircularStd-Black.ttf') format('truetype'), url('./fonts/CircularStd-Black.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BlackItalic.eot');
  src: url('./fonts/CircularStd-BlackItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-BlackItalic.woff') format('woff'), url('./fonts/CircularStd-BlackItalic.ttf') format('truetype'), url('./fonts/CircularStd-BlackItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Bold.eot');
  src: url('./fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Bold.woff') format('woff'), url('./fonts/CircularStd-Bold.ttf') format('truetype'), url('./fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BoldItalic.eot');
  src: url('./fonts/CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-BoldItalic.woff') format('woff'), url('./fonts/CircularStd-BoldItalic.ttf') format('truetype'), url('./fonts/CircularStd-BoldItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Medium.eot');
  src: url('./fonts/CircularStd-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Medium.woff') format('woff'), url('./fonts/CircularStd-Medium.ttf') format('truetype'), url('./fonts/CircularStd-Medium.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-MediumItalic.eot');
  src: url('./fonts/CircularStd-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-MediumItalic.woff') format('woff'), url('./fonts/CircularStd-MediumItalic.ttf') format('truetype'), url('./fonts/CircularStd-MediumItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-Book.eot');
  src: url('./fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-Book.woff') format('woff'), url('./fonts/CircularStd-Book.ttf') format('truetype'), url('./fonts/CircularStd-Book.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'CircularStd';
  src: url('./fonts/CircularStd-BookItalic.eot');
  src: url('./fonts/CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/CircularStd-BookItalic.woff') format('woff'), url('./fonts/CircularStd-BookItalic.ttf') format('truetype'), url('./fonts/CircularStd-BookItalic.svg#bcc26993292869431e54c666aafa8fcd') format('svg');
  font-weight: 400;
  font-style: italic;
}


/* Global Style Resets */
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  margin: 0; 
  width: 100%;
  height: 100%; 
  max-height: 100%;
  max-height: 100vh;
  overflow: hidden !important;
}

body {
  position: relative;
  width: 100%;
  position: relative;
  font-size: 16px;
  font-family: 'Circular Std', 'Montserrat', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
  background-color: #0C0920;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden !important;
}

#container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#content {
  text-align: center;
}

#title {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
} #title h1 {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  font-family: 'Circular Std', 'Montserrat', 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 1.4em;
}

#wheel-overlay {
  position: absolute;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  top: 18%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  border: 3px solid #0C0920;
}

#color-wheel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 18%;
  margin: 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
}

#color-preview {
  position: fixed;
  width: 100%;
  height: 15%;
  background-color: #000;
  left: 0;
  bottom: 0;
}